<div class="content-tabs">
    <button class="tab-btn active" data-tab="header">Header</button>
    <button class="tab-btn" data-tab="teklif">Teklif Formu</button>
    <button class="tab-btn" data-tab="services">Services</button>
    <button class="tab-btn" data-tab="portfolio">Portfolio</button>
    <button class="tab-btn" data-tab="team" onclick="window.location.href='/TeamMemberController1/TeamMemberList'">
        Ekibimiz
    </button>

</div>