<div class="content-tabs">

    <button class="tab-btn" onclick="window.location.href='/Header/HeaderList'">
        Header
    </button>

@*     <button class="tab-btn" onclick="window.location.href='/TeklifForm/Index'">
        Teklif Formu
    </button> *@

    <button class="tab-btn" onclick="window.location.href='/Services/ServicesList'">
        Services
    </button>

    <button class="tab-btn" onclick="window.location.href='/PortfolioController1/PortfolioList'">
        Portfolio
    </button>

    <button class="tab-btn" onclick="window.location.href='/TeamMemberController1/TeamMemberList'">
        Ekibimiz
    </button>

</div>
