@using Entities.Concrete
@model List<TeamMember>
@{
    ViewData["Title"] = "TeamMemberList";
    Layout = "~/Views/Layout/Index.cshtml";
}




<div class="content-form">
    @foreach (var item in Model)
    {
        <div class="item-card">
            <div class="item-info">
                <h4>@item.Name @item.Surname (@item.Initials)</h4>
                <p>@item.Role</p>
            </div>
            <div class="item-actions">
                <a href="/TeamMember/Edit/@item.TeamMemberId" class="btn btn-primary btn-small">Düzenle</a>
                <a href="/TeamMember/Delete/@item.TeamMemberId" class="btn btn-danger btn-small">Sil</a>
            </div>
        </div>
    }

    <a href="/TeamMember/Add" class="btn btn-success add-item-btn">
        Yeni Team Member Ekle
    </a>
</div>
